#left {
  width: 55%;
  float: left;
  clear: both;
  display: block;
}
#right {
  float: right;
  width: 35%;
margin: 0%;
}
li {
  list-style: none;
}
h5 {
  color: grey;

}
.paragraphs {
  width: 100%;
}
.main {
  width: 100%;
}
